<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rares.graphit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rares.graphit.Start"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name = "com.rares.graphit.GraphDrawer"
            android:label = "@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="com.rares.GRAPHDRAWER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name = "com.rares.graphit.AdList"
            android:label = "@string/activity_ad_list_label"
            android:theme="@android:style/Theme.Dialog"
            >
            <intent-filter>
                <action android:name="com.rares.graphit.ADLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name = "com.rares.graphit.AdMatrix"
            android:label = "@string/activity_matrix_label"
            android:theme="@android:style/Theme.Dialog"
            >
            <intent-filter>
                <action android:name="com.rares.graphit.ADMATRIX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name = "com.rares.graphit.EdgeActionChoose"
            android:label = "@string/activity_edge_action_choose_label"
            android:theme="@android:style/Theme.Dialog"
            >
            <intent-filter>
                <action android:name="com.rares.graphit.EDGEACTIONCHOOSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
